{% extends 'base.html' %} {% load static %} 

{% load crispy_forms_tags %}

{% block title %}
    Ventas
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/sales.css' %}">

    <style>
        .hidden{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

<!-- Finaliza cuadro superior de la pantalla -->

<br>

<form method="POST" action=".">
    {% csrf_token %}

        {{form.customer|as_crispy_field}}
        <!-- Inicia cuadro superior de la pantalla (cliente e información extra) -->
        <div class="row mb-5">
            <div class="col-md-12">

                <!-- Inicia bloque "Información del cliente" -->
                <div  id="estilo-tabla">
                    <div class="col-md-6">
                        <h2 id="titulo-cliente">Información del cliente:</h2>
                        <dl>
                            <dt>Nombre</dt>
                            <dd id="customer-name">{{customer.name}}</dd>
                            <dt>RFC</dt>
                            <dd id="customer-rfc">{{customer.rfc}}</dd>
                            <dt>Dirección</dt>
                            <dd id="customer-address">{{customer.address}}</dd>
                            <dt>Teléfono</dt>
                            <dd id="customer-phone">{{customer.phone}}</dd>
                            <dt>Correo</dt>
                            <dd id="customer-email">{{customer.email}}</dd>
                        </dl>
                    </div>
                    <!-- Finaliza bloque "Información del cliente" -->
        
                    <!-- Inicia bloque "Otra información" -->
                    <div class="col-md-6">            
                        <h2 id="titulo-cliente">Otra información:</h2>
                        
                        <p>Método de pago:</p>
        
                        <div id="radios">
                            <input type="radio" id="efectivo" name="metodo" value="efectivo"
                                    checked>
                            <label for="efectivo">Efectivo</label>
                        </div>
                        <div id="radios">
                            <input type="radio" id="tarjeta" name="metodo" value="tarjeta"
                                    >
                            <label for="tarjeta">Tarjeta</label>
                        </div>
        
                        <p>Tipo de venta:</p>
        
                        <div id="radios">
                            <input type="radio" id="contado" name="tipo" value="contado" checked>
                            <label for="contado">Contado</label>
                        </div>
                        <div id="radios">
                            <input type="radio" id="credito" name="tipo" value="credito">
                            <label for="credito">Credito</label>
                        </div>
                    </div>
                    <!-- Finaliza bloque "Otra información" -->                
                </div>
            </div>
        </div>
    
        

        {{formset.management_form}}
        
        {% if formset %}
            <div id="product-form-list">
                {% for form_details in formset %}
                    <div class="card mt-4 mb-4 product-form">
                        {{form_details.errors}}
                    </div>
                {% endfor %}
            </div>
            <div id="empty-form" class="">

                <input type="hidden" name="form-sale" id="id_form-sale"> 
                <div id="div_id_form-product" class="mb-3"> 
                    <label for="id_form-product" class="form-label requiredField">Producto<span class="asteriskField">*</span> </label> 
                    <select name="form-product" class="cart-item-title select form-select" id="id_form-product"> 
                        <option value="" selected="selected">---------</option> 
                        {% for product in products %}
                            <option value="{{product.id}}">{{product.name}}</option> 
                        {% endfor %}
                    </select>
                </div> 
            </div>

            <button id="add-form" type="button" class="btn btn-primary">Agregar producto</button>
        {% endif %}
            
        
        <section class="container content-section">
            <h2 class="section-header">Venta</h2>
            {% comment %} <div class="cart-row">
                <span class="cart-item cart-header cart-column">Producto</span>
                <span class="cart-price cart-header cart-column">Precio</span>
                <span class="cart-quantity cart-header cart-column">Cantidad</span>
                <span class="cart-quantity cart-header cart-column">Total del producto</span>
            </div>
            <div class="cart-items form-empty">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                {{form.total}}
            </div> {% endcomment %}

            <div class="table-responsive">
                <table id="cart-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Código</th>
                            <th class="align-middle text-center">Cantidad</th>
                            <th class="align-middle text-center">Unidad</th>
                            <th class="align-middle text-center">Descripción</th>
                            <th class="align-middle text-center">Precio</th>
                            <th class="align-middle text-center">Descuento</th>
                            <th class="align-middle text-center">Total producto</th>
                            <th class="align-middle text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="cart-body">
                        
                    </tbody>
                </table>
                <tfoot>
                    <tr class="cart-total input-group mb-3">
                        <span class="cart-total-title">Subtotal</span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id>$</span>
                            <input type="number" name="subtotal" class="form-control" id="subtotal" value="0" readonly>
                        </div>
                    </tr>
                    <tr class="cart-total input-group mb-3">
                        <span class="cart-total-title">IVA</span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id>$</span>
                            <input type="number" name="iva" class="form-control" id="iva" value="0" readonly>
                        </div>
                    </tr>
                    <tr class="cart-total input-group mb-3">
                        <span class="cart-total-title">Total</span>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            {{form.total}}
                        </div>
                    </tr>
                </tfoot>
            </div>
        </section>

        {{form.commentaries|as_crispy_field}}

        <div class="col-md-12" style="text-align: right;margin-top: 5px;">
            <button id="submit-btn" class="btn btn-primary btn-lg save-sale" type="submit">
                Guardar
            </button>
        </div>
    </form>

{% endblock %}

{% block js %}


    <script src="{% static 'assets/js/select2.js' %}"></script>
    <script src="{% static 'assets/js/table-cart.js' %}"></script>
    
    
{% endblock %}

