#titulo,
.form-label {
    font-weight: bolder; 
    color: #404040;
    margin-top: 5px;
}

.form-label {
    font-size: 20px;
}

#estilo-tabla {
    border: 1px solid #bbbbbb; 
    padding: 10px 20px 2px 20px; 
    background-color: #e9f4ff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.col-md-6 {
    display: block;
    float: left;
}

.col-md-12:last-child {
    float: right;
}

#estilo-tabla > dl > dt {
    color: #767676;
}

#estilo-tabla > dl > dd {
    color: #9B9B9B;
}

#radios {
    margin: 5px 0px 5px 15px;
}

#credito {
    margin-bottom: 15px;
}

#id_commentaries {
    height: 150px;
}

/* .save-sale {
    display: grid;
    margin: auto;
    margin-bottom: 15px;
} */

.section-header {
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
}

.cart-price,
.cart-quantity-input,
.cart-discount-input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    background:transparent;
}



.product-total{
    width: 60%;
    font-size: 1.2em;
    color: #333;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    background:transparent;
    border-left: 0;
}