#titulo-cliente,
#titulo-otra-info,
.form-label {
    font-weight: bolder; 
    color: #404040;
    margin-top: 5px;
}

.form-label {
    font-size: 20px;
}

#estilo-tabla {
    border: 1px solid black; 
    padding: 10px 20px 2px 20px; 
    background-color: #e9f4ff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.col-md-6 {
    display: block;
    float: left;
}

.col-md-12:last-child {
    float: right;
}

#estilo-tabla > dl > dt {
    color: #767676;
}

#estilo-tabla > dl > dd {
    color: #9B9B9B;
}

#radios {
    margin: 5px 0px 5px 15px;
}

#credito {
    margin-bottom: 15px;
}

#id_commentaries {
    height: 150px;
}

.save-sale {
    display: grid;
    margin: auto;
    margin-bottom: 15px;
}